<ol>
    <li *ngFor="let player of game.Players()">{{ player.name }}: {{ player.score }}</li>
</ol>

<p> You are playing as {{ player.getName() }}</p>

<app-lobby *ngIf="game.preGame()" [lobbyMessage]="lobbyMessage" [gameName]="gameName"></app-lobby>

<div *ngIf="game.recvPick()">
    <p>It is {{ game.getPickingPlayer() }}'s turn to pick a question</p>
    <table>
        <tr>
            <td *ngFor="let title of titles">
                {{ title }}
            </td>
        </tr>
        <tr *ngFor="let row of questionRows; let valIdx = index">
            <td
            *ngFor="let q of row; let topicIdx = index"
            (mouseover)="highlightQuestion($event, 'lightgreen')"
            (mouseout)="highlightQuestion($event, 'white')"
            (click)="handlePick(topicIdx, valIdx)"
            [ngStyle]="{'background-color': q.canChoose ? 'white' : 'lightpink'}">
                {{ q.value }}
            </td>
        </tr>
    </table>

    <p  *ngIf="player.canPick()">seconds to pick: {{ countdownSeconds }}</p>
</div>

<div *ngIf="!game.finalRound()">
    <div *ngIf="game.recvBuzz() || game.recvAns()">
        Question: {{ game.curQuestion() }}
        <br>
        Value: {{ game.curValue() }}
        <br>
        <button *ngIf="player.canBuzz()" (click)="handleBuzz(false)">Buzz</button>
        <button *ngIf="player.canBuzz()" (click)="handleBuzz(true)">Pass</button>

        <p *ngIf="player.canBuzz()">seconds to buzz: {{ countdownSeconds }}</p>
    </div>
    
    <div *ngIf="game.recvAns() && player.canAnswer()">
        <input type="text" [(ngModel)]="questionAnswer" placeholder="Enter your answer">
        <button (click)="handleAnswer()">Answer</button>

        <p *ngIf="player.canAnswer()">seconds to answer: {{ countdownSeconds }}</p>
    </div>
    
    <div *ngIf="game.recvAns() && !player.canAnswer()">
        {{ game.getAnsweringPlayer() }} is answering the question
    </div>

    <div *ngIf="game.recvVote() && player.canVote()">
        {{ game.getLastToAnswer() }} answered <br>
        {{ game.curQuestion() }} <br>
        <b>{{ game.getAnsCorrectness() ? "correctly" : "incorrectly" }}</b> with <b>{{ game.getLastAnswer() }}</b>. <br>
        <button (click)="handleVote(true)">Accept</button>
        <button (click)="handleVote(false)">Challenge</button>

        <p *ngIf="player.canVote()">seconds to vote: {{ countdownSeconds }}</p>
    </div>

    <div *ngIf="game.recvVote() && !player.canVote()">
        Waiting for other players to accept or challenge the answer
    </div>
    
    <div *ngIf="game.recvWager() && player.canWager()">
        <input type="number" [(ngModel)]="wagerAmt" placeholder="Enter your wager">
        <button (click)="handleWager()">Wager</button>
        <p *ngIf="player.canWager()">seconds to wager: {{ countdownSeconds }}</p>
    </div>
    
    <div *ngIf="game.recvWager() && !player.canWager()">
        {{ game.getWageringPlayer() }} is choosing a wager
    </div>    
</div>

<div *ngIf="game.finalRound() && game.recvWager()">
    Final Jeopardy
    <div *ngIf="player.canWager()">
        <input type="number" [(ngModel)]="wagerAmt" placeholder="Enter your wager">
        <button (click)="handleWager()">Wager</button>
        <p *ngIf="player.canWager()">seconds to final wager: {{ countdownSeconds }}</p>
    </div>
</div>

<div *ngIf="game.finalRound() && game.recvAns()">
    Final Jeopardy
    <p>Question: {{ game.curQuestion() }}</p>
    <div *ngIf="player.canAnswer()">
        <input type="text" [(ngModel)]="questionAnswer" placeholder="Enter your answer">
        <button (click)="handleAnswer()">Answer</button>
        <p *ngIf="player.canAnswer()">seconds to final answer: {{ countdownSeconds }}</p>
    </div>
</div>

<div *ngIf="game.gameOver()">

    <ol>
        <li *ngFor="let player of game.Players()">
            {{ player.name }} answered <b>{{ player.finalCorrect ? 'correctly': 'incorrectly' }}</b> with <b>{{ player.finalAnswer }}</b>
            <button *ngIf="canProtestForPlayer(player)" (click)="protestFinalCorrectness(player.id)">Protest</button>
        </li>
    </ol>

    <p>Final Jeopardy Answer: {{ game.getFinalAnswer() }}</p>

    {{ game.endGameMessage() }}

    <div>
        <button (click)="playAgain()">Play again</button>
        <button (click)="leaveGame()">Home</button>
    </div>
</div>