<div id='players-container' class='flex-column'>
	<div class='player-box flex-column'>
		<div class='player-info flex-row'>
			<div>
				<img src="../../assets/face.jpeg" alt="">
			</div>
			<div class="player-name">
				{{ player.Conn() ? player.Name() : 'Waiting for player to join' }}
			</div>
		</div>
		<div class='player-score flex-column' [ngStyle]="{'color': player.Score() < 0 ? 'red' : 'black'}">
			{{ player.Score() < 0 ? '-' : '' }}${{ abs(player.Score()) }}
			<span *ngIf="scoreChange(player.Id())" [ngStyle]="{'color': scoreChange(player.Id()) > 0 ? 'green' : 'red'}">
				{{scoreChange(player.Id()) > 0 ? '+' : '-'}}${{abs(scoreChange(player.Id()))}}
			</span>
		</div>
		<div class="timer-container">
			<ion-icon *ngIf="!game.BoardIntro() && !game.IsPaused() && onClock(player.Player())" name="timer-outline"></ion-icon>
		</div>
	</div>
	<div class='player-box flex-column' *ngFor="let p of game.OtherPlayers()">
		<div class='player-info flex-row'>
			<div>
				<img src="../../assets/face.jpeg" alt="">
			</div>
			<div class="player-name">
				{{ p.conn ? p.name : 'Waiting for player to join' }}
			</div>
		</div>
		<div class='player-score flex-column' [ngStyle]="{'color': p.score < 0 ? 'red' : 'black'}">
			{{ p.score < 0 ? '-' : '' }}${{ abs(p.score) }}
			<span *ngIf="scoreChange(p.id) > 0" [ngStyle]="{'color': scoreChange(p.id) > 0 ? 'green' : 'red'}">
				{{scoreChange(p.id) > 0 ? '+' : '-'}}${{abs(scoreChange(p.id))}}
			</span>
		</div>
		<div class="timer-container">
			<ion-icon *ngIf="!game.BoardIntro() && !game.IsPaused() && onClock(p)" name="timer-outline"></ion-icon>
		</div>
	</div>
</div>

<div id='game-container'>
	<div id='game-state'>
		<app-pre-game *ngIf="game.PreGame()" [gameName]="game.Name()"></app-pre-game>
		<app-board-intro [@boardIntroFade] *ngIf="game.BoardIntro()"></app-board-intro>
		<app-recv-pick *ngIf="game.RecvPick()"></app-recv-pick>
		<app-recv-buzz *ngIf="game.RecvBuzz()"></app-recv-buzz>
		<app-recv-ans *ngIf="game.RecvAns()"></app-recv-ans>
		<app-recv-wager *ngIf="game.RecvWager()"></app-recv-wager>
		<app-post-game *ngIf="game.PostGame()"></app-post-game>

		<div id='countdown-bar' class='flex-row'></div>
	</div>
</div>

<app-chat></app-chat>

<div id='game-controls'>
	<div id='jeopardy-music' class='game-control'>
		<ion-icon (click)="stopMusic()" *ngIf="playMusic" name="volume-high-outline"></ion-icon>
		<ion-icon (click)="startMusic()" *ngIf="!playMusic" name="volume-mute-outline"></ion-icon>
		<div class='control-info' *ngIf="showMusicInfo">
			<p><ion-icon name="chevron-back-outline"></ion-icon> Click for Jeopardy music</p>
		</div>
		<audio loop #jeopardyAudio>
			<source src="../../assets/jeopardy_music.mp3" />
		</audio>
	</div>
	
	<div id='pause-game' *ngIf='!game.InDispute() && !game.PreGame()' class='game-control'>
		<ion-icon (click)="pauseGame(false)" *ngIf="game.IsPaused() && !game.Disconnected()" name="play"></ion-icon>
		<ion-icon (click)="pauseGame(true)" *ngIf="!game.IsPaused()" name="pause"></ion-icon>
		<div class='control-info' *ngIf="showPauseGame">
			<p><ion-icon name="chevron-back-outline"></ion-icon> Click to pause the game</p>
		</div>
	</div>
</div>