#jeopardy-music {
    position: fixed;
    left: 10px;
    top: 70px;

    ion-icon {
        font-size: 2em;
    }

    ion-icon:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

#joinLink {
    color: blue;
    text-decoration: underline;
}

#joinLink:hover {
    cursor: pointer;
}

#copyLink:hover {
    cursor: pointer;
    transform: scale(1.1);
}