<ol>
    <li *ngFor="let player of players">{{ player.name }}: {{ player.score }}</li>
</ol>

<p> You are playing as {{ player.getName() }}</p>

<div *ngIf="gameState.preGame()">
    <p>
        {{lobbyMessage}}
    </p>
    
    <p>Code to join: {{ gameName }} </p>
</div>

<div *ngIf="gameState.recvPick()">
    <p>It is {{ gameState.getPickingPlayer() }}'s turn to pick a question</p>
    <table>
        <tr>
            <td *ngFor="let title of titles">
                {{ title }}
            </td>
        </tr>
        <tr *ngFor="let row of questionRows; let valIdx = index">
            <td
            *ngFor="let q of row; let topicIdx = index"
            (mouseover)="highlightQuestion($event, 'lightgreen')"
            (mouseout)="highlightQuestion($event, 'white')"
            (click)="handlePick(topicIdx, valIdx)"
            [ngStyle]="{'background-color': q.canChoose ? 'white' : 'lightpink'}">
                {{ q.value }}
            </td>
        </tr>
    </table>

    <p  *ngIf="player.canPick()">seconds to pick: {{ countdownSeconds }}</p>
</div>

<div *ngIf="!gameState.finalRound()">
    <div *ngIf="gameState.recvBuzz() || gameState.recvAns()">
        Question: {{ gameState.curQuestion() }}
        <br>
        Value: {{ gameState.curValue() }}
        <br>
        <button *ngIf="player.canBuzz()" (click)="handleBuzz(false)">Buzz</button>
        <button *ngIf="player.canBuzz()" (click)="handleBuzz(true)">Pass</button>

        <p *ngIf="player.canBuzz()">seconds to buzz: {{ countdownSeconds }}</p>
    </div>
    
    <div *ngIf="gameState.recvAns() && player.canAnswer()">
        <input type="text" [(ngModel)]="questionAnswer" placeholder="Enter your answer">
        <button (click)="handleAnswer()">Answer</button>

        <p *ngIf="player.canAnswer()">seconds to answer: {{ countdownSeconds }}</p>
    </div>
    
    <div *ngIf="gameState.recvAns() && !player.canAnswer()">
        {{ gameState.getAnsweringPlayer() }} is answering the question
    </div>

    <div *ngIf="gameState.recvVote() && player.canVote()">
        {{ gameState.getLastToAnswer() }} answered <br>
        {{ gameState.curQuestion() }} <br>
        <b>{{ gameState.getAnsCorrectness() ? "correctly" : "incorrectly" }}</b> with <b>{{ gameState.getLastAnswer() }}</b>. <br>
        <button (click)="handleVote(true)">Accept</button>
        <button (click)="handleVote(false)">Challenge</button>

        <p *ngIf="player.canVote()">seconds to vote: {{ countdownSeconds }}</p>
    </div>

    <div *ngIf="gameState.recvVote() && !player.canVote()">
        Waiting for other players to accept or challenge the answer
    </div>
    
    <div *ngIf="gameState.recvWager() && player.canWager()">
        <input type="number" [(ngModel)]="wagerAmt" placeholder="Enter your wager">
        <button (click)="handleWager()">Wager</button>
        <p *ngIf="player.canWager()">seconds to wager: {{ countdownSeconds }}</p>
    </div>
    
    <div *ngIf="gameState.recvWager() && !player.canWager()">
        {{ gameState.getWageringPlayer() }} is choosing a wager
    </div>    
</div>

<div *ngIf="gameState.finalRound() && gameState.recvWager()">
    Final Jeopardy
    <div *ngIf="player.canWager()">
        <input type="number" [(ngModel)]="wagerAmt" placeholder="Enter your wager">
        <button (click)="handleWager()">Wager</button>
        <p *ngIf="player.canWager()">seconds to final wager: {{ countdownSeconds }}</p>
    </div>
</div>

<div *ngIf="gameState.finalRound() && gameState.recvAns()">
    Final Jeopardy
    <p>Question: {{ gameState.curQuestion() }}</p>
    <div *ngIf="player.canAnswer()">
        <input type="text" [(ngModel)]="questionAnswer" placeholder="Enter your answer">
        <button (click)="handleAnswer()">Answer</button>
        <p *ngIf="player.canAnswer()">seconds to final answer: {{ countdownSeconds }}</p>
    </div>
</div>

<div *ngIf="gameState.gameOver()">

    <ol>
        <li *ngFor="let player of players">
            {{ player.name }} answered <b>{{ player.finalCorrect ? 'correctly': 'incorrectly' }}</b> with <b>{{ player.finalAnswer }}</b>
            <button *ngIf="canProtestForPlayer(player)" (click)="protestFinalCorrectness(player.id)">Protest</button>
        </li>
    </ol>

    <p>Final Jeopardy Answer: {{ gameState.getFinalAnswer() }}</p>

    {{ gameState.endGameMessage() }}

    <div>
        <button (click)="playAgain()">Play again</button>
        <button (click)="leaveGame()">Home</button>
    </div>
</div>