#players-container {
    position: fixed;
    right: 0;
    top: var(--header-height);
    width: var(--players-container-width);
    height: calc(100vh - var(--header-height));
    border-left: 1px solid black;

    .player-box {
        padding: 1em;
        border-bottom: 1px solid black;
        gap: 1em; 
        position: relative;
    }
}

#game-container {
    position: fixed;
    left: 0;
    top: var(--header-height);
    height: calc(100vh - var(--header-height) - 10px);
    width: calc(100% - var(--players-container-width));
    display: flex;
    justify-content: center;

    #game-state {
        display: flex;
        flex-direction: column;
        gap: 15px;

        #countdown-bar {
            height: 15px;
            gap: 1px;
        }
    }
}

#game-controls {
    .game-control {
        position: fixed; 
        left: 15px;

        ion-icon {
            font-size: 2em;
        }
    
        ion-icon:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

        @keyframes moveUpDown {

            0%,
            1000% {
                transform: translateX(0);
            }
    
            50% {
                transform: translateX(-5px);
            }
        }
    
        .control-info {
            animation: moveUpDown 1s infinite;
            position: fixed; 
            left: 50px; 

            ion-icon {
                font-size: 1em;
            }
    
            ion-icon:hover {
                cursor: default;
                transform: none;
            }
    
            p {
                margin: 0;
            }
        }
    }

    #jeopardy-music {
        top: calc(var(--header-height) + 15px);

        .control-info {
            top: calc(var(--header-height) + 22px);
        }
    }
    
    #pause-game {
        top: calc(var(--header-height) + 60px);

        .control-info {
            top: calc(var(--header-height) + 67px);
        }
    }
}