#pre-game-container {
	margin-top: 20vh;
}

@keyframes ellipsis {
    25% {
        content: "";
    }
    50% {
        content: ".";
    }
    75% {
        content: "..";
    }
    100% {
        content: "...";
    }
}

h2:after {
    content: "...";
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis 2s infinite;
    animation-fill-mode: forwards;
    width: 1.25em;
}

#joinLink {
	color: blue;
	text-decoration: underline;
}

#joinLink:hover {
	cursor: pointer;
}

#copyLink:hover {
	cursor: pointer;
	transform: scale(1.1);
}