<div id='pre-game-container'>
    <h2>Waiting to start</h2>

    <div id='share-join'>
        <p>Share this code for other players to join <b>{{ game.Code() }}</b></p>
        <p>
            or share this link: <span id='joinLink' (click)="openJoinLink()">{{gameLink}}/join/{{game.Name()}}</span>&nbsp;
            <ion-icon name="copy-outline" id="copyLink" (click)="copyJoinLink()"></ion-icon>
        </p>
    </div>

    <div>
        <button id='start-game' (click)="startGame()">Start game</button>
        <button *ngIf='game.NumConnectedPlayers() < 6' (click)="addBot()">Add bot</button>
        <p>Other players taking too long? Add a Jeopardy bot to the game to play against.</p>
    </div>
</div>