<button class="gsi-material-button auth-options-button">
	<div class="gsi-material-button-content-wrapper">
		<div class='center-image'>
			<img *ngIf="imgUrl != ''" [src]="imgUrl" alt="">
			<ion-icon *ngIf="iconName == 'sign-up'" name="person-add-outline"></ion-icon>
			<ion-icon *ngIf="iconName == 'sign-out'" name="log-out-outline"></ion-icon>
			<ion-icon *ngIf="iconName == 'sign-in'" name="log-in-outline"></ion-icon>
		</div>
		<div>
			<span>{{buttonText}}</span>
		</div>
	</div>
</button>