<div *ngIf="!game.FinalRound()">
    <p>Category: {{ game.CurCategory() }} </p>
    <div *ngIf="player.CanWager()">
        <input type="number" [(ngModel)]="wagerAmt" placeholder="Enter your wager">
        <button (click)="handleWager()">Wager</button>
    </div>
    <p>seconds to wager: {{ countdownSeconds }}</p>

    <div *ngIf="!player.CanWager()">
        {{ game.WageringPlayer() }} is choosing a wager
    </div>
</div>

<div *ngIf="game.FinalRound()">
    Final Jeopardy
    <p>Category: {{ game.CurCategory() }} </p>
    <div *ngIf="player.CanWager()">
        <input type="number" [(ngModel)]="wagerAmt" placeholder="Enter your wager">
        <button (click)="handleWager()">Wager</button>
    </div>
    <p>seconds to final wager: {{ countdownSeconds }}</p>
</div>