<div *ngIf="!game.FinalRound()">
    <p class='question-category'>{{ game.CurCategory() }} </p>
    <div class='wager-input' *ngIf="player.CanWager()">
        <input type="number" [(ngModel)]="wagerAmt" placeholder="Enter your wager">
        <button (click)="handleWager()">Wager</button>
    </div>
    <div *ngIf="!player.CanWager()">
        {{ game.WageringPlayer() }} is choosing a wager
    </div>
    <p>seconds to wager: {{ countdownSeconds }}</p>
</div>

<div *ngIf="game.FinalRound()">
    <h2>Final Jeopardy</h2>
    <p class='question-category'>{{ game.CurCategory() }} </p>
    <div class='wager-input' *ngIf="player.CanWager()">
        <input type="number" [(ngModel)]="wagerAmt" placeholder="Enter your wager">
        <button (click)="handleWager()">Wager</button>
    </div>
    <p>seconds to final wager: {{ countdownSeconds }}</p>
</div>