<div id='wager-container'>
    <h2 *ngIf="game.FinalRound()">Final Jeopardy</h2>
    <p class='question-category'>{{ game.CurCategory() }}</p>
    <div id='wager-input' class='flex-column' *ngIf="player.CanWager()">
        <input type="number" [(ngModel)]="wagerAmt" placeholder="Enter your wager">
        <button (click)="handleWager()">Wager</button>
    </div>
    <div *ngIf="!game.FinalRound() && !player.CanWager()">
        {{ game.WageringPlayer() }} is choosing a wager
    </div>
    <p>seconds to wager: {{ countdownSeconds }}</p>
</div>