<div class='join-container flex-column'>
    <div id='join-inputs' class='flex-column'>
        <input type="text" [(ngModel)]="playerName" placeholder="Enter your name">

        <div id='join-buttons' class='flex-row'>
            <button (click)="joinPublicGame(playerName)">Join any game</button>
            <button (click)="createPrivateGame(playerName)">Create a private game</button>
            <button (click)="toggleGameCodeInput()">Join game by code</button>
        </div>

        <input *ngIf="showGameCodeInput" (keydown.enter)="joinGameByCode(playerName, gameCode)" type="text" [(ngModel)]="gameCode" placeholder="Game code">
    </div>

    <hr>
    
    <button style='margin-top: 0' (click)="rejoin()">Disconnected? Click to rejoin</button>
</div>