<div class='answer-container' *ngIf="!game.FinalRound()">
    <div class='question-info'>
        <app-question></app-question>
    </div>

    <div class='answer-input' *ngIf="player.CanAnswer()">
        <input type="text" [(ngModel)]="questionAnswer" placeholder="Enter your answer">
        <button (click)="handleAnswer()">Answer</button>
    </div>
    <div *ngIf="!player.CanAnswer()">
        <p>{{ game.AnsweringPlayer() }} is answering the question</p>
    </div>
    <p>seconds to answer: {{ countdownSeconds }}</p>
</div>

<div class='answer-container' *ngIf="game.FinalRound()">
    <h2>Final Jeopardy</h2>
    <app-question></app-question>
    <div class='answer-input' *ngIf="player.CanAnswer()">
        <input type="text" [(ngModel)]="questionAnswer" placeholder="Enter your answer">
        <button (click)="handleAnswer()">Answer</button>
    </div>
    <p>seconds to final answer: {{ countdownSeconds }}</p>
</div>