<div class='question-board'>
    <p [ngStyle]="{'visibility': game.PreviousQuestion() != '' ? 'visible' : 'hidden'}">Previous question: {{ game.PreviousQuestion() }} </p>
    <p [ngStyle]="{'visibility': game.PreviousAnswer() != '' ? 'visible' : 'hidden'}">Previous answer: <b>{{ game.PreviousAnswer() }}</b></p>
    <table>
        <tr>
            <td class='category-title' *ngFor="let title of categories">
                <div class='question-board-box'>{{ title }}</div>
            </td>
        </tr>
        <tr *ngFor="let row of questionRows; let valIdx = index">
            <td class='question-value' *ngFor="let q of row; let catIdx = index"
                (click)="handlePick(catIdx, valIdx)"
                (mouseover)="changeCursor(q.canChoose, 'pointer')"
                (mouseout)="changeCursor(q.canChoose, 'default')">
                <div class='question-board-box'>
                    <span>{{ q.canChoose ? '$'+q.value : '' }}</span>
                </div>
            </td>
        </tr>
    </table>
</div>