<div>
    <p *ngIf="game.PreviousQuestion() != ''">Previous question: {{ game.PreviousQuestion() }} </p>
    <p *ngIf="game.PreviousAnswer() != ''">Previous answer: {{ game.PreviousAnswer() }}</p>
    <p>It is {{ game.PickingPlayer() }}'s turn to pick a question</p>
    <table>
        <tr>
            <td class='category' *ngFor="let title of categories">
                {{ title }}
            </td>
        </tr>
        <tr class='question' *ngFor="let row of questionRows; let valIdx = index">
            <!-- <td *ngFor="let q of row; let catIdx = index" (mouseover)="highlightQuestion($event, 'lightgreen')"
                (mouseout)="highlightQuestion($event, 'white')" (click)="handlePick(catIdx, valIdx)"
                [ngStyle]="{'background-color': q.canChoose ? 'white' : 'lightpink'}"> -->
            <td *ngFor="let q of row; let catIdx = index" (click)="handlePick(catIdx, valIdx)"> {{ q.value }} </td>
        </tr>
    </table>
    <p>seconds to pick: {{ countdownSeconds }}</p>
</div>