<div class='modal-container'>
    <div class='modal-message'>
        <h3>Jeopardy Configuration</h3>
        <div id='config-inputs' class='flex-row'>
            <div class='game-inputs'>
                <div>
                    <input type="text" [(ngModel)]="playerName" placeholder="Enter your name">
                </div>
                <div>
                    <input type="checkbox" id="one-round-config" [(ngModel)]="oneRoundChecked" (change)="twoRoundChecked = !oneRoundChecked">
                    <label for="one-round-config" style="margin-right: 1em;">1 Round</label>
                    <input type="checkbox" id="two-round-config" [(ngModel)]="twoRoundChecked" (change)="oneRoundChecked = !twoRoundChecked">
                    <label for="two-round-config">2 Rounds</label>
                </div>
                <div>
                    <input type="checkbox" id="penalty-input-config" [(ngModel)]="penaltyChecked">
                    <label for='penalty-input-config'>Penalty for incorrect answers</label>
                </div>
                <div>
                    <input id='bot-config' type="number"  [(ngModel)]="botConfig" min="0" max="2" (change)="validateBotConfig()">
                    <label for="bot-config"> Bots</label>
                </div>
                <div>
                    <input id='pick-config' type="number"  [(ngModel)]="pickConfig" min="3" max="60" (change)="validatePickConfig()">
                    <label for="pick-config"> Pick Timeout</label>
                </div>
                <div>
                    <input id='buzz-config' type="number"  [(ngModel)]="buzzConfig" min="10" max="60" (change)="validateBuzzConfig()">
                    <label for="buzz-config"> Buzz Timeout</label>
                </div>
                <div>
                    <input id='answer-config' type="number"  [(ngModel)]="answerConfig" min="3" max="60" (change)="validateAnswerConfig()">
                    <label for="answer-config"> Answer Timeout</label>
                </div>
                <div>
                    <input id='vote-config' type="number"  [(ngModel)]="voteConfig" min="3" max="60" (change)="validateVoteConfig()">
                    <label for="vote-config"> Vote Timeout</label>
                </div>
                <div>
                    <input id='wager-config' type="number"  [(ngModel)]="wagerConfig" min="3" max="60" (change)="validateWagerConfig()">
                    <label for="wager-config"> Wager Timeout</label>
                </div>
            </div>
            <div id='question-inputs'>
                <div>
                    <select [(ngModel)]="questionMode">
                        <option value="random">Random Questions</option>
                        <option value="cyo">Choose your own</option>
                    </select>
                </div>
                <div *ngIf="questionMode == 'cyo'">
                    <div id='search-container'>
                        <input type="text" placeholder="Search categories" [(ngModel)]="categorySearch" (input)="searchCategories()" (click)="searchCategories()">
                        <div id="loader" *ngIf="searchLoader"></div>
                        <div id='results-dropdown'>
                            <div class='search-result' *ngFor="let result of searchResults" (click)="addCategory(result)">
                                {{result.category}} {{twoRoundChecked ? '(' + result.round + ')' : ''}}
                            </div>
                        </div>
                    </div>
                    <div id='question-lists'>
                        <div>
                            <p>First Round</p>
                            <ol>
                                <li *ngFor='let category of firstRoundCategories'>
                                    {{category.category}}<span class='remove-category' (click)="removeCategory(category)">&nbsp;✕</span>
                                </li>
                            </ol>
                        </div>
                        <div *ngIf="twoRoundChecked">
                            <p>Second Round</p>
                            <ol>
                                <li *ngFor='let category of secondRoundCategories'>
                                    {{category.category}}<span class='remove-category' (click)="removeCategory(category)">&nbsp;✕</span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="config-buttons" class='flex-row'>
        <button (click)="createPrivateGame(botConfig)">Start Game</button>
        <button (click)="hideConfig()">Exit</button>
    </div>
</div>