<div class='toolbar flex-row' role="banner">
	<div>
		<h2>Jeopardy!</h2>
	</div>
	<div id='header-icons' class='flex-row'>
		<div>
			<ion-icon (click)="modal.displayInstructions()" name="information-circle-outline"></ion-icon>
		</div>
		<div>
			<ion-icon (click)="modal.displayAnalytics()" name="bar-chart-outline"></ion-icon>
		</div>
		<div>
			<a target="_blank" href='https://docs.google.com/forms/d/e/1FAIpQLSdzHFumIhdsgNksr8lDUO3hHhVwaIqeO9asIhBWsroNfYZW4Q/viewform'>
				<ion-icon name="pencil-outline"></ion-icon>
			</a>
		</div>
		<div style='position: relative;'>
			<ion-icon *ngIf="!userAuthenticated" (click)="showLoginOptions = !showLoginOptions" name="log-in-outline"></ion-icon>
			<img *ngIf="userAuthenticated" (click)="showLogoutOptions = !showLogoutOptions" [src]="userImg" alt="">
			<div>
				<div  *ngIf="showLoginOptions" class='auth-options'>
					<app-login></app-login>
				</div>
				<div  *ngIf="showLogoutOptions" class='auth-options'>
					<app-logout></app-logout>
				</div>
			</div>
		</div>
	</div>
</div>


<div role="main">
	<router-outlet></router-outlet>
</div>

<app-game-message *ngIf="modal.showMessage()"></app-game-message>
<app-instructions *ngIf="modal.showInstructions()"></app-instructions>
<app-analytics *ngIf="modal.showAnalytics()"></app-analytics>
<app-dispute></app-dispute>