<div id='password-input-container' class='flex-column'>
    <div id='password-inputs' [ngClass]='inputFlexDirection'>
        <div id='password'>
            <input (focus)="setBorder('1px solid grey')" #passwordInput [(ngModel)]="password" type="password" autocomplete="new-password" placeholder="Password">
            <ion-icon *ngIf='showEye' (click)='showPassword(true)' name='eye-outline'></ion-icon>
            <ion-icon *ngIf='!showEye' (click)='showPassword(false)' name='eye-off-outline'></ion-icon>
        </div>
        <div>
            <input (focus)="setBorder('1px solid grey')" #confirmedPasswordInput [(ngModel)]="confirmedPassword" type="password"  autocomplete="new-password" placeholder="Confirm password">
        </div>
    </div>
    <div id='password-requirements'>
        <p>Password requirements:</p>
        <ul>
            <li><app-pw-req [satisfied]='password.length > 7' [requirement]="'At least 8 characters long'"></app-pw-req></li>
            <li><app-pw-req [satisfied]="hasUppercase()" [requirement]="'At least one uppercase letter'"></app-pw-req></li>
            <li><app-pw-req [satisfied]="hasLowercase()" [requirement]="'At least one lowercase letter'"></app-pw-req></li>
            <li><app-pw-req [satisfied]="hasNumber()" [requirement]="'At least one number'"></app-pw-req></li>
            <li><app-pw-req [satisfied]="hasSpecialChar()" [requirement]="'At least one special character'"></app-pw-req></li>
        </ul>
    </div>
</div>
