/* You can add global styles to this file, and also import other style files */

input {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    outline: none;
}

input:focus {
    outline: 1px solid; 
    outline-color: grey;
}

button {
    padding: 10px;
}

button:focus {
    outline: 1px solid; 
    outline-color: grey;
}

.question-text {
    user-select: none;
}

.input-container {
    display: flex;
    flex-direction: column;

    input {
        flex: 1;
    }
}

.button-container {
    display: flex;
    gap: 15px;

    button {
        flex: 1;
    }
}