.modal-container {
    gap: 1em;

    p {
        margin: 0;
    }

    #login-inputs {
        gap: 1em;

        #password-inputs {
            gap: 1em;
        }

        #password {
            gap: 1em;
            align-items: center;
            justify-content: center;
            position: relative;

            ion-icon {
                font-size: 1.5em;
                position: absolute;
                right: 0.5em;
            }

            ion-icon:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

    #login-buttons {
        gap: 1em;
    }
}