<div class='vote-container' *ngIf="player.CanVote()">
    <div>
        <app-question></app-question>
    </div>
    <p>
        {{ game.LastToAnswer() }} answered <b>{{ game.AnsCorrectness() ? "correctly" : "incorrectly" }}</b> with <b>{{
            game.LastAnswer() }}</b>. <br>
    </p>
    <div class='button-container'>
        <button (click)="handleVote(true)">Accept</button>
        <button (click)="handleVote(false)">Challenge</button>
    </div>
</div>
<p>seconds to vote: {{ countdownSeconds }}</p>

<div *ngIf="!player.CanVote()">
    Waiting for other players to accept or challenge the answer
</div>