<div>
    <div>
        <app-question></app-question>
    </div>
    <p>
        {{ game.LastToAnswer() }} answered <b>{{ game.AnsCorrectness() ? "correctly" : "incorrectly" }}</b> with <b>{{ game.LastAnswer() }}</b>.
    </p>
    <div id='vote-buttons' class='flex-row' *ngIf="player.CanVote()">
        <button (click)="handleVote(true)">Accept</button>
        <button (click)="handleVote(false)">Challenge</button>
    </div>
	<p *ngIf="!player.CanVote()"> Waiting for other players to accept or challenge the answer</p>
</div>