<ul>
    <li *ngFor="let answer of game.CurQuestionAnswers()">
        {{ answer.player.name == player.Name() ? 'You' : answer.player.name }}
        <span *ngIf="answer.answer != 'answer-timeout'">
            answered {{ answer.correct ? 'corrrectly' : 'incorrectly' }} with <b>{{ answer.answer }}</b>
        </span>
        <span *ngIf="answer.answer == 'answer-timeout'">
            didn't answer in time
        </span>
        <button class='dispute-button' *ngIf="answer.player.id == player.Id() && game.CanInitDispute(player.Id()) && game.RecvPick()" (click)="disputeQuestion()">
            Dispute
        </button>
    </li>
</ul>    