<div class='modal-container'>
    <div class='modal-message'>
        <h3>Jeopardy Instructions</h3>
        <div id="instructions">
            <p>
                This is a multiplayer Jeopardy game.
                It should be familiar to anyone who has seen it on TV, but there are a few differences to make it playable online. 
                Please take a moment to carefully ready the instructions below, paying close attention to the <b>bolded</b> sections.
                If you ever need to refer to these instructions again, you can click the <ion-icon name="information-circle-outline"></ion-icon>
                icon in the top right corner of the page. 
            </p>
            <p> Picking: Players have 30 seconds to pick a question. If no question is picked, the lowest value question will be chosen.</p>
            <p>Buzzing: Players have 30 seconds to read the question and buzz in. If all 3 players pass or answer incorrectly, the question will be skipped.</p>
            <p>
                <b>Answering</b>: Players have 15 seconds to type in an answer after buzzing in. <b>Do not</b> phrase your answer 
                in the form of a question like on TV. For example, answer "This city is the capital of Germany" with "Berlin" rather than "What is Berlin?"
            </p>
            <p>
                <b>Voting</b>: We cannot guarantee that the computer will always judge an answer correctly. So after each answer, 
                players have 10 seconds to challenge the computer's judgement. If 2/3 players
                challenge the computer's judgement, then it is overturned and the answering player's score will be adjusted accordingly.
            </p>
            <p>
                <b>Disputing</b>: If your answer was marked incorrect and you believe it was correct, you can dispute the question.
                This will give each player 1 minute to review the question and vote on whether or not the answer should have been 
                marked as correct. If the question is overturned, then the players' scores will be adjusted accordingly.
            </p>
            <p>Wagering: Players have 30 seconds to wager during Double and Final Jeopardy. If no wager is given, the lowest allowed wager will be chosen.</p>
            <p>
                <b>Note</b>: This game is still in development. If you encounter any issues or have any suggestions, please provide feedback 
                <a href='https://docs.google.com/forms/d/e/1FAIpQLSdzHFumIhdsgNksr8lDUO3hHhVwaIqeO9asIhBWsroNfYZW4Q/viewform' target='blank'>here</a>.
                All responses are anonymous.
            </p>
        </div>
    </div>
    <div id="exit-instructions">
        <button (click)="modal.hideInstructions()">
            Continue  
        </button>
    </div>
</div>