.question-category {
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
}

#question-box {
    width: 400px;
    color: white;
    background-color: #060ce9;
    padding: 30px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px;
}

.button-container {
    button {
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 15px;
        padding: 20px 0;
    }
}

.player-answer {
    margin: 15px 0;
    display: flex; 
    align-items: center; 

    span {
        flex: 1;
    }
}

hr {
    margin-top: 25px;
    margin-bottom: 10px;
}