<div>
    <ol>
        <li *ngFor="let player of game.Players()">
            {{ player.name }} answered <b>{{ player.finalCorrect ? 'correctly': 'incorrectly' }}</b> with <b>{{ player.finalAnswer }}</b>
            <button *ngIf="canProtestForPlayer(player)" (click)="protestFinalCorrectness(player.id)">Protest</button>
        </li>
    </ol>

    <p>Final Jeopardy Answer: {{ game.FinalAnswer() }}</p>

    {{ game.EndGameMessage() }}

    <div>
        <button (click)="playAgain()">Play again</button>
        <button (click)="leaveGame()">Home</button>
    </div>
</div>