<div>
    <p class='question-category'>{{ game.CurCategory() }} </p>
    <p *ngIf="game.CurComments() != ''">Comments: {{ game.CurComments() }}</p>
    <div id='question-box'>
        {{ game.CurQuestion() }}
    </div>
    <p>Final Jeopardy Answer: <b>{{ game.FinalAnswer() }}</b></p>

    <p *ngIf="this.game.HighestScorers().length == 1">The winner is <b>{{ this.game.HighestScorers()[0] }}</b></p>
    <p *ngIf="this.game.HighestScorers().length == 2">The winners are {{ this.game.HighestScorers()[0] }} and {{ this.game.HighestScorers()[1] }}</p>
    <p *ngIf="this.game.HighestScorers().length > 2">All players have tied</p>

    <div *ngFor="let p of game.Players()">
        <div class='player-answer' *ngIf="p.finalAnswer != ''">
            <span *ngIf="p.finalAnswer != 'answer-timeout'">
                {{ p.name }} answered <b>{{ p.finalCorrect ? 'correctly': 'incorrectly' }}</b> with <b>{{ p.finalAnswer }}</b>
            </span>
            <button *ngIf="p.finalAnswer != 'answer-timeout' && canProtestForPlayer(p)"
                (click)="protestFinalCorrectness(p.id)">Protest</button>
    
            <span *ngIf="p.finalAnswer == 'answer-timeout'">{{ p.name }} didn't answer in time.</span>
        </div>
    </div>

    <hr>

    <div class='button-container'>
        <button *ngIf='!player.PlayAgain()' (click)="playAgain()">Play again</button>
        <button (click)="leaveGame()">Home</button>
    </div>
</div>